.NewNote{
    position: absolute;
    top:25%;
    left: 30%;
    height:40%;
    background-color: white;
    width: 40%;
    border-radius: 6px;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;

}
.NewNote > div:first-of-type{
    margin:1%;
}
.NewNote label{
    display: flex;
    align-items: center;
    margin: 2%;
    font-size: 25px;
    
}

label span{
    margin-right: 30px;
}
label input{
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 20px;
    outline: none;
    width: 60%;
    border: 2px solid #ccc;
}
.color{
    height:35px;
    width:35px;
    border-radius:50%;
    margin:0 5px;
    cursor: pointer;
}
.create{
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    position: absolute;
    bottom:25px;
    right: 30px;
    cursor: pointer;
}
.border{
    border: 3px solid black;
}