
.SingleGroup{
    width: 100%;
    /* height: 50px; */

    display: flex;
    align-items: center;
    gap:20px;

    padding:14px;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
    /* margin-bottom: 4px; */
    cursor: pointer;
    /* background-color: antiquewhite; */
}

.noteLogo{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.noteLogoText{
    font-family: Roboto;
    font-size: 17px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
}
.noteHeading{
    font-family: Roboto;
    font-size: 17px;
    font-weight: 500;
    /* background-color: red; */

}